@import "tailwindcss";

@theme {
  --color-cream: #F5F0E8;
  --color-sand: #E8DFC8;
  --color-beige: #C4A882;
  --color-forest: #1A4731;
  --color-lime: #5DB940;
  --color-anthracite: #252525;
}

body {
  background-color: var(--color-cream);
  color: var(--color-anthracite);
}

html {
  scroll-behavior: smooth;
}
